.vagas{
    text-align: center;
}
.vagas__txt{
    color: #667085;
    font-size: 20px;
}
.vagas__titulo{
    color: #101828;
    font-size: 36px;
}
.vagas__abertas{
    display: flex;
    justify-content: center;
    color: #8E2424;
}
.vagas__img{
    margin-top: 32px;
}
